.heads{
    width: 1200px;
    height: 130px;
    margin: 20px auto 0;
}
.heads>img{
	cursor: pointer;
    margin-top: 20px;
}
.process{
    background:url("https://www.ttcj.tv/css/pc/images/cart/stage1.png")no-repeat;
    margin-top: 28px;
    margin-right: 6px;
    float: right;
    width: 823px;
    height: 52px;
    position: relative;
}
.process>span{
    position: absolute;
    margin-top: 35px;
}
.process_one{
    left: -40px;
}
.process_two{
    left: 210px;
}
.process_three{
    right: 270px;
}
.process_four{
    right: 30px;
}
.batch{
	cursor: pointer;
}
.batch:hover{
	color: #0000FF;
}
.trolley{
    width: 1200px;
    margin: 0 auto;
}
.trolley>h4{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.guarantee{
    height: 60px;
    background: #f4f4f4;
    box-sizing: border-box;
    border: 1px solid #e2e6ef;
    color: #666;
}
.guarantee>div{
    float: left;
    line-height: 60px;
    font-size: 14px;
}
.guarantee>div:nth-child(2){
    margin-left: 160px;
}
.guarantee>div:nth-child(3){
    margin-left: 322px;
}
.guarantee>.the{
    margin-left: 133px;
}
.check_all{
    width: 90px;
}
.check_all_bgr{
    width: 20px;
    height: 20px;
    margin: 0 19px;
    margin-top: 20px;
    background: url("https://www.ttcj.tv/css/pc/images/cart/no_choose_icon.png")no-repeat;
    background-position: 0px 0px;
    float: left;
}
.check_all_bgr>input{
    cursor: pointer;
    margin: -42px 0 0 0;
    width:20px;
    height: 20px;
    opacity: 0;
}

/*购物车没有商品的*/
.no_goods{
    width: 1200px;
    margin: 0 auto;
}
.Shopping_img{
    width: 200px;
    height: 300px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom:55px;
}
.Shopping_img>*{
    text-align: center;
}
.Shopping_img>h3{
    font-size:18px;
    color: #666;
    font-weight: 400;
}
.Shopping_img>p{
    font-size: 16px;
    color: #999;
}
.Shopping_img>p>a{
    color: #4185F4;
}
.Shopping_img>p>a:hover{
   color:#23527c
}
.no_goods>p{
    font-size: 14px;
}
.no_goods>p>a{
    color: #4185F4;
}
.no_goods>p>a:hover{
    color:#23527c
}
.product_list{
    width: 100%;
    height: 811px;
    padding-top: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.product_list_ul>li{
	cursor: pointer;
    float: left;
    width: 294px;
    height: 387px;
    background: #fff;
    margin: 3px;
}
.product_list_ul>li:hover{
    box-shadow: 0px 0px 20px 2px #e2e6ef;
}
.product_list_ul>li>img{
    width: 294px;
    height: 294px;
}
.product_list_ul>li>p{
    margin: 8px 20px 0;
}
.List_one{
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
    color: #666;
}
.List_two{
    font-size: 16px;
    color: red;
    line-height: 35px;
}
.List_two_price{
    font-size: 26px;
}
.List_two_img{
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-top: 8px;
    background: url("https://www.ttcj.tv/css/pc/images/lijin.svg")no-repeat;
    float: right;
}
.List_two_lj{
    float: right;
    font-size:20px;
}

/*有商品时*/
.are_goods{

}
.are_goods_wrap{
    margin: 50px 0 60px 0;
    background: #f8f8f8;
    border-top: 1px solid #e2e6ef;
    border-bottom: 1px solid #e2e6ef;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.flexd{
    position: fixed;
    bottom: 0;
}
.are_goods_handle{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    font-size: 15px;
}

.check_all_btn{
    display: inline-block;
    width: 90px;
    height: 80px;
    line-height: 80px;
}
.check_all_btn_la{
    width: 20px;
    height: 20px;
    margin-left: 25px;
    background: url("https://www.ttcj.tv/css/pc/images/cart/no_choose_icon.png")no-repeat;
}
.check{
    cursor: pointer;
    width: 20px;
    height: 20px;
    opacity: 0;
}
.check_la{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    background: url("https://www.ttcj.tv/css/pc/images/cart/no_choose_icon.png")no-repeat;
}
.units{
    display: inline-block;
    margin-left: 400px;
}
.units>span{
    font-size: 24px;
    color: #f33047;
}
.money{
    font-size: 24px;
    color: #f33047;
}
.remove{
    cursor: pointer;
    margin-left: 40px;
    color: #666;
}
.pay_for{
    margin-left: 15px;
}
.go_payment{
    width: 150px;
    margin-left: 30px;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 22px;
    color: #fff;
    font-size: 18px;
}

.catalogue{
    width: 1200px;
    margin: 0 auto;
}
/*列表*/
.catalogue_message{
    height: 215px;
    border: 1px solid #e1e8f0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10px;
}
.catalogue_message_top{
    height: 135px;
    border-bottom:1px dashed #e1e8f0;
}
.catalogue_message_top>div{
    width:160px;
    height:135px;
    border-left: 1px solid #e1e8f0;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 135px;
    text-align: center;
}
.catalogue_message_top>div:nth-child(2)>span{
	font-size: 18px;
}
.catalogue_message_top>div:nth-child(4)>span{
	color: red;
	font-size: 18px;
}
.catalogue_message_top>.catalogue_message_one{
    text-align: left;
    width: 554px;
    border-left: 0;
}
.catalogue_message_one>div>p{
	width:340px;
	overflow:hidden ;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.catalogue_message_one>img{
    width: 100px;
    height: 100px;
    vertical-align: middle;
}
.catalogue_message_one>div{
    margin-left: 10px;
    display: inline-block;
}
.catalogue_message_one>div>p{
    height: 26px;
    font-size: 14px;
    line-height: 26px;
}
.control{
    padding-top:55px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.control>*{
    float: left;
}
.control>button{
    width: 25px;
    height: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    outline: none;
    font-size: 25px;
    line-height: 20px;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}
.jian{
    border: 1px solid #e1e8f0;
    color: #666;
    margin-left: 30px;
}
.jia{
    background: #fff;
    color: red;
    border: 1px solid red;
}
.numtext{
    border: none;
    width: 50px;
    height: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.del_wrap{
    padding-top: 50px;
}
.del_wrap>p{
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}
.del_wrap>p:hover{
    color: #4185f4;
}
.del{
    width: 78px;
    margin-left: 37px;
    text-align: left;
}




