.swiper-container{
	height: 3.8rem;
}
.swiper-container img{
	width: 100%;
	height: 100%;
}
*{
	margin: 0;
	padding: 0;
}
body{
	line-height: 1;
	background: #F7F7F7;
	font-size: 16px;
}

/* 信息 */
.message{
	padding: .1rem;
	background: #fff;
}
.prier{
	color:#e60338;
	height: .24rem;
	line-height: .24rem;
}
.prier>span{
	font-size: .1rem;
	padding: 1px;
	font-weight: 400;
	color: #959595;
	background: #eaeaea;
}
.old_prier{
	margin:.1rem 0 0 0;
	color: #ccc;
	font-size: .14rem;
}
.this_shopp{
	margin-top: .15rem;
	color: #ea0433;
	font-size: .14rem;
	letter-spacing: 1px;
}
.shopp_name_wrap{
	display: flex;
	justify-content: space-between;
	margin-top: 0.15rem;
}
.shopp_name{
	width: 3.3rem;
	font-size: 0.16rem;
}
.merchant{
	margin-top: .15rem;
	font-size: .14rem;
	color: #a3a3a3;
	display: flex;
	justify-content: space-between;
}
/* 优惠 */
.sale{
	padding: .1rem;
	margin: .1rem 0;
	background: #fff;
	height: .6rem;
}
.sale>div{
	justify-content: space-between;
	display: flex;
	line-height: .18rem;
}
.sale_top>p{
	font-size: .14rem;
}
.sale_top>p>span:nth-child(1){
	color: #9a9a9a;
}
.sale_top>p>span:nth-child(2){
	color: #ff648e;
	font-size: .1rem;
}
.sale_top>p>span:nth-child(3){
	display: inline-block;
	    vertical-align: middle;
	width: 2.6rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.examine{
	width: .35rem;
	height: .18rem;
	border: 1px solid #9A9A9A;
	border-radius: .12rem;
	font-size: .14rem;
	line-height: .18rem;
	text-align: center;
	padding: .03rem;
}
.sale_bottom{
	font-size: .14rem;
	margin-top: .15rem;
}
.sale_bottom>p>span:nth-child(1){
	color:#d4d4d4;
}
.sale_bottom>p>span:nth-child(2){
	color:#ff281d;
}
.floot{
	width: 100%;
	position: fixed;
	bottom: 0;
	background: #fff;
	display: flex;
	justify-content: space-between;
}
.floot>div{
	text-align: center;
	flex-grow: 1;
}
.function{
	font-size: .14rem;
	padding: .05rem .15rem;
}
.cc>img{
	margin-bottom: .03rem;
}
.function>img{
	width: .23rem;
}
.cart,.buy{
	color: #fff;
	padding: .12rem .18rem;
	line-height: .24rem;
}
.cart{
	background: #fe9402;
}
.buy{
	background: #fe0036;
}


