*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 16px;
	line-height: 1;
	background: #f7f7f7;
}
/* 顶部 */
header{
	height: .5rem;
	background: #ff4400;
	display: flex;
	justify-content: space-between;
	padding-left: 5px;
	color: #fff;
	padding-top: 5px;
	font-size: .12rem;
}
header>div{
	text-align: center;
}
.header_two{
	margin-top: .15rem;
	font-weight: bold;
	font-size: .18rem;
	height: 0.25rem;
	padding: 0 .24rem;
	position: relative;
	border-bottom: .01rem solid #fff;
}
.header_two:before{
	content: "";
	display: block;
	height:.04rem;
	width:.015rem;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
}
.header_two:after{
	content: "";
	display: block;
	height:.04rem;
	width:.015rem;
	background: #fff;
	position: absolute;
	bottom: 0;
	right: 0;
}
.header_three>p{
	margin-top: 7px;
}

/* 轮播图 */
.swiper-container{
	width: 100%;
	height: 1.34rem;
}
.swiper-slide>img{
	width: 100%;
}
.swiper-pagination>.swiper-pagination-bullet-active{
	background: #fff;
}
.list_muen{
	font-size: .12rem;
	height: 1.85rem;
	background: #fff;
	margin-top: .1rem;
	box-sizing: border-box;
	padding: .05rem .1rem .1rem .1rem;
}
.list_muen>ul{
	display: flex;
	text-align: center;
	justify-content: space-between;
}
.list_muen>ul:nth-child(1){
	margin-bottom: .2rem;
}
.list_muen>ul>li{
	color: #777;
	list-style: none;
	width: .61rem;
	height: .75rem;
}

.list_muen>ul>li>img{
	width: 100%;
}
/* 淘抢货 */
.hot{
	background: #fff;
	margin-top: .1rem;
	height: 2.05rem;
}
.hot>div{
	float: left;
}
.hot_left{
	width: 1.68rem;
	border-right:1px solid #fafafa ;
}
.hot_left>img{
	width: 100%;
}
.hot_right{
	width: 2.33rem;
}
.hot_right_top>img{
	width: 100%;
}
.hot_right_bottom{
	display: flex;
}
.hot_right_bottom>div{
	flex: 1;
}
.hot_right_bottom>div>img{
	width: 100%;
}
/* 猜你喜欢 */
.like{
	margin-top: 0.1rem;
	background: #fff;
}

.like_name{
	display: flex;
	height: .4rem;
	background:#eeeeee;
	border-bottom: 1px solid #e7e7e7;
}
.like_name>div{
	border-left: 1px solid #e7e7e7;
	flex-grow: 1;
	font-size: .14rem;
	line-height: .4rem;
	padding: 0  0.22rem;
}
.like_name>.synthesize{
	border: none;
	color:#ff4400;
}

.like_conter_wrap:after{
	content: "";
	display: block;
	clear: both;
}
.like_conter{
	margin-top: .1rem;
	margin-left: .1rem;
	width: 1.8rem;
	height: 3rem;
	float: left;
	font-size: .12rem;
}
.like_conter>img{
	border-radius: .05rem;
	margin-bottom: .1rem;
	width: 100%;
}
.describe{
	height: .48rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;	
	margin-bottom: .15rem;
}
.like_conter>span{
	color:#b94b49;
}
.like_conter>.sales{
	color: #999;
}
.sales{
	margin-top: .1rem;
}
.sales>span:nth-child(2){
	float: right;
}
.floot{
	width: 100%;
	position: fixed;
	bottom: 0;
	padding-left: .15rem;
	box-sizing: border-box;
	padding-top: .1rem;
	padding-bottom: .05rem;
	background: #fff;
	display: flex;
	border: 1px solid #dddddd;
	justify-content: space-around;
}
.floot>div{
	text-align: center;
}
/*.like_conter_wrap*/
.like_conter_wrap2{
	display: none;
}
.like_conter_wrap2>div{
	padding: .1rem;
	height: 1rem;
	background: #ffff;
	border-bottom: 1px solid #999;
	box-sizing: border-box;
}
.like_conter_wrap2>div>img{
	width: .75rem;
	height: .8rem;
}
.like_conter_wrap2>div>*{
	float: left;
}
.contents{
	width: 2.9rem;
	margin-left: .1rem;
}
.contents>p:nth-child(1){
	width: 2.9rem;
	height: .28rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	font-size: .14rem;
}
.contents>p:nth-child(2){
	margin: .1rem 0;
	color: #ff4400;
	letter-spacing: .01rem;
}

.contents>p:nth-child(3){
	color: #b5b5b5;
}