.classification{
    width: 1200px;
    height: 54px;
    line-height: 54px;
    margin: 0 auto;
}
.classification_three{
    float: right;
}
.brand_list,.classify_list{
    width: 1200px;
    height:46px;
    margin: 0 auto;
    border: 1px solid #e1e8f0;
}
.brand_list>*,.classify_list>*{
    float: left;
}
.brand_list>span,.classify_list>span{
    width: 100px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    display: block;
    box-sizing: border-box;
}
.brand_list>span:last-child,.classify_list>span:last-child{
    float: right;
    cursor: pointer;
}
.brand_list>span:nth-child(1),.classify_list>span:nth-child(1){
    border-right:1px solid #e1e8f0;
    background: #F1F1F1;
}
.brand_list_ul{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 975px;
    padding-left:50px;
    padding-top:8px;
}
.brand_list_ul>li{
	float: left;
    height: 34px;
    line-height: 34px;
    text-align: center;
}
.stretch{
	display: none;
	width: 1200px;
	margin: 0 auto;
	border-right: 1px solid #E1E8F0;
	border-left: 1px solid #E1E8F0;
	border-bottom:1px solid #E1E8F0 ;
}
.stretch:after{
	content: "";
	display: block;
	clear: both;
}
.stretch>.span{
	float: left;
	width: 100px;
	background: #f1f1f1;
	border-right:1px solid #E1E8F0;
	box-sizing: border-box;
}
.stretch_right{
	float: left;
}
.stretch_right>ul{
	margin-left: 50px;
	width: 770px;
	float: left;
}
.stretch_right>h3{
	float: left;
	margin-left: 50px;
	padding: 5px 10px;
	height: 35px;
	float: left;
	line-height: 35px;
	text-align: center;
}
.stretch_right>h3:hover{
	color: #fff;
	cursor: pointer;
	background: #4185f4;	
}

.stretch_right>ul>*:hover{
	color: #fff;
	cursor: pointer;
	background: #4185f4;
}
.stretch_right>ul>*{
	padding: 5px 10px;
	height: 35px;
	float: left;
	line-height: 35px;
	text-align: center;
}

.classify_list_div{
    padding: 5px 10px;
    height: 35px;
    box-sizing: border-box;
    background: #4185f4;
    color: #fff;
    margin-right: 30px;
    line-height:25px;
    text-align: center;
}
.classift_list_div_wrap{
    width: 925px;
    margin-top: 10px;
    margin-left: 50px;
}
.classift_list_div_wrap>ul{
    width: 770px;
}
.classift_list_div_wrap>ul>li{
    float: left;
    height: 35px;
    line-height: 25px;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.classift_list_div_wrap>ul>li:hover{
    background: #4185f4;
    color: #fff;
    cursor: pointer;
}
.classift_list_div_wrap>*{
    float: left;
}

.hot_shopp{
    width: 1200px;
    margin: 0 auto;
    height: 24px;
    margin-top: 30px;
}
.shopp{
    width: 1200px;
    height: 162px;
    margin: 20px auto;
}
.shopp>div{
    float: left;
    width: 383px;
    height: 162px;
    cursor: pointer;
    padding-left: 10px;
    border: 1px solid #e1e8f0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.shopp>div:nth-child(2){
    margin: 0 25px;
}
.shopp>div>*{
    float: left;
}
.shopp>div>img{
    width: 160px;
    height:160px;
}
.shopp>div>p{
    margin-left: 20px;
    margin-top: 25px;
    font-size: 18px;
    width: 180px;
}
.shopp>div>span{
    margin-left: 20px;
    color: red;
    font-size: 26px;
}
.synthesize{
    width: 1200px;
    height: 50px;
    margin: 0 auto 20px;
    border: 1px solid #e1e8f0;
    background: #fff;
}
.fiexd{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin:0 auto;
}
.synthesize_left{
    width: 300px;
    height: 50px;
    float: left;
}
.synthesize_left>.border{
    border-color: #4185F4;
    color: #4185F4;
}
.synthesize_left>span:hover{
    border-color: #4185F4;
    color: #4185F4;
}
.synthesize_left>span{
    cursor: pointer;
    float: left;
    display: block;
    line-height: 50px;
    text-align: center;
    width: 100px;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e1e8f0;
}
.synthesize_right{
    float: right;
    height: 50px;
    width: 100px;
    margin-right: 30px;
}
.synthesize_right>span{
    font-weight: 600;
    cursor: pointer;
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.synthesize_right>.synthesize_right_four{
    float: right;
}
.synthesize_right_noe{
    color: #4185F4;
}

/*渲染列表*/
.colours{
    width:1200px ;
    margin: 0 auto;
}
.colours>div{
    cursor: pointer;
    float: left;
    width: 294px;
    height: 387px;
    margin: 3px;
}
.colours>div>img{
    width: 294px;
    height: 294px;
    margin-bottom: 32px;
}
.colours>div>p{
    font-size: 18px;
    color: #666666;
    width: 245px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 20px;
}
.colours>div>span{
    color: #F33047;
    margin-left: 20px;
    font-size: 26px;
}
.colours>div:hover{
    box-shadow: 0px 0px 20px 2px #e2e6ef;
    transition: box-shadow 0.5s;
}

.page_number{
    clear: both;
    width: 1200px;
    height: 30px;
    text-align: center;
    margin: 0 auto 100px;
}
.page_number>*{
    cursor: pointer;
}
.page_number>img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.page_number>span{
    display: inline-block;
    width: 25px;
    font-size: 18px;
}
.page_number>span:hover{
    border-bottom: 1px solid #4185F4;
    color: #4185F4;
}
.page_number>.border2{
    border-bottom: 1px solid #4185F4;
    color: #4185F4;
}




